

<h3><% if session[:message] %>
  <%= session.delete(:message) %>
<% end %></h3>
  <h1>How much time do you spend...</h1>

  <body>
    <form action='/add_day' method='post'>
      <fieldset>
        <label for="date">Date:</label>
        <input class="button" type="date" name="date" value="2020-01-01" min="2020-01-01" required>
          <ul>General Responsibilities: 
            <li>
              <label for="work">Work (in minutes)</label>
              <input class='button' type='number' name='work' value=0 placeholder=0 required>
            </li>
            <li>
              <label for="sleep">Sleep (in minutes)</label>
              <input class='button' type='number' name='sleep' value=0 placeholder=0 required>
            </li>
            <li>
              <label for='commute'>Commute to Work (in minutes)</label>
              <input class='button' type='number' name='commute_to' value=0 placeholder=0 required>
            </li>
            <li>
              <label for='reverse_commute'>Commute from Work (in minutes)</label>
              <input class='button' type='number' name='commute_from' value=0 placeholder=0 required>
            </li>
            <li>
              <label for='meals'>Preparing Meals (roughly in minutes)</label>
              <input class='button' type='number' name='meal_prep' value=0 placeholder=0 required>
            </li>
            <li>
              <label for='eating_meals'>Eating Meals (roughly in minutes)</label>
              <input class='button' type='number' name='eating_meals' value=0 placeholder=0 required>
            </li>
            
              <button type='submit' class='button'>Submit Responsibilities</button>
              <button type='button' onclick="window.location.href='/custom_responsibilities'">Add Your Own Activities</button>
              <button type='button' onclick="window.location.href='/timesheet'">Go to Timesheet</button>
            </ul>
      </fieldset>
    </form>
  <br>
  </body>
  <footer>
   <form action="/signout" method="post"> 
      <fieldset>
        <button type="submit" class="button">Sign Out</button>
      </fieldset>
    </form>
  </footer>
