
  <h1>Edit Your Activities</h1>
  <body>
    <ul>
    <% @dates.each do |date|%>
        <label for="date">Date:</label>
        <a href="/edit_activities/<%=date%>"><p><%=date%></p></a>
      <% end %>
    <fieldset>
      <button class='return' type='button' onclick="window.location.href='/timesheet'">Return to Timesheet</button>
      </ul>
    </fieldset>
  </body>