
  <h1>Edit Your Activities</h1>
  <body>
    
    <% @dates.each do |date|%>
        <label for="date">Date:</label>
        <a href="/edit_activities/<%=date%>"><p><%=date%></p></a>
      <% end %>
    
  </body>