
  <h1>Choose Date(s) to Delete:</h1><!--This is the page to edit for showing 10 dates per page -->
  <body>
    <form class="delete" action='/delete_date' method="post">
    <fieldset>
    <dl>
      <dt>Current Entries:</dt>
      <% @dates.each_with_index do |date, idx|%>
        <label>
          <dt><input type="checkbox" name="date<%=idx%>" value="<%=date%>" /><%=date%></dt>
        </label>
      <% end %>
      </dl>

      <button type="submit" class="button">Delete Date(s)</button>
      <button type='button' onclick="window.location.href='/timesheet'">Return to Timesheet</button>
    </fieldset>
  </form>
  </body>