<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Auto-mate</title>
    <script name="chartkick" src="chartkick.js"></script>
    <script name= "chartkickjs" src="Chart.bundle.js"></script>
    <script src="/javascripts/jquery-3.5.1.slim.js"></script>
    <script src="javascripts/application.js"></script>
    <%# <script name = "layout" src="layout.js"></script> %>
    <link rel="stylesheet" href="../stylesheets/homepage.css">
    <link rel="icon" href="../images/favicon.ico" type="image/ico">
    <link rel="shortcut icon" href="images/favicon.ico">
  </head>

  <body>
    <div id="header" class="header">
      <a href="/timesheet" class="logo">Auto-Mate</a>
      <div id="links" class="header-right">      
          <a class="" href="/timesheet">Timesheet</a>
          <a class="" href="/add_entries">Add Entry</a>
          <a class="" href="/choose_date">Edit Entry</a>
          <a class="" href="/delete_date">Delete Entry</a>
          <a><form action="/signout" method="post"> 
            <button type="submit" class="link">Sign Out</button>
            </form>
          </a>  
        </div>
      </div> 
    

      <div class="actions">
        <%== yield_content :header_links %>

    <% if session[:message] %>
      <div class="user_message">
        <p><%= session.delete(:message) %></p>
      </div>
    <% end %>

    <main>
      <%== yield %>
    </main>

  </body>

  <%== yield_content :footer_links %>
</html>
