
  <body>
    <dl>
    <dt> Welcome to Auto-mate v1.1.</dt>  
    <dt>This time tracking tool is meant for individuals to challenge their perceptions of how they spend their time, procrastinate and get things done.
    I hope you enjoy it.</dt>
    <dt>The next version will be fully automated.</dt>
    </dl>
    <form action="/login" method="post">
      <fieldset class="login">
        <dl>
        <dt>
          <label for='username'>Username:</label>
          <input class='text' type='text' name='username' placeholder='Username' required>
        </dt>
        
        <dt>
          <label for='password'>Password:</label>
          <input class='text' type='password' name='password' placeholder='Password' required>
        </dt>
        </dl>
              <button type='submit' class='button'>Submit</button>

      </fieldset>

    </form>
  </body>
</html>
