
  <body>

    <form action="/login" method="post">
      <fieldset class="login">
        <label for='username'>Username:</label>
        <input class='text' type='text' name='username' placeholder='Username' required>

        <label for='password'>Password:</label>
        <input class='text' type='password' name='password' id='password' placeholder='Password' required>
      </fieldset>

      <br>

      <button type='submit' class='button'>Submit</button>
      <button type='reset' onclick="location.href='/new_user'" class='button'>Register a New User</button>
      <button type='reset' onclick="location.href='/sample_page'" class='button'>
        Test App</button>

    </form>
  </body>
</html>
