
  <body>
    <p class="user_message"><%=@message%></p>
    <%if session[:message]%>
      <p class="user_message"><%= session.delete(:message)%></p>
    <%end%>

  <fieldset class="new">
    <form action='/new_user' method='post'>
    <br>
      <dl>
        <dt>
          <label for='username'>New Username</label>
          <input class='text' type='text' name = 'username' placeholder='Username' required>
        </dt>
      <br>
        <dt>  
          <label for='password'>New Password</label>
          <input class='text' type='password' name='password' placeholder='Password' required>
        </dt>
      <br>

      <br>
      <button type='submit' class='button'>Submit</button>
    </form>
    </fieldset>
  </body>
