
  <body>
    <p class="user_message"><%=@message%></p>
    <%if session[:message]%>
      <p class="user_message"><%= session.delete(:message)%></p>
    <%end%>

  <fieldset>
    <form action='/new_user' method='post'>
    <br>
          <label for='username'>Desired Username:</label>
          <input class='text' type='text' name = 'username' placeholder='Username' required>
          <br>
          <label for='password'>Desired Password:</label>
          <input class='text' type='password' name='password' placeholder='Password' required>
      <br>
      <br>
      <br>
      <button type='submit' class='button'>Submit</button>
      <button type='submit' onclick="location.href='/'" class='button'>Return to Homepage</button>
    </form>
    </fieldset>
  </body>
