h1 {
  color: black;
  text-align: center;
}

main {
  margin: 50px;

}

body {
  background-color: #ffffe0;
  margin: 50px;

}

strong {
  color: black;
}

em {
  color:black;
}

p {
  font-size: 24px;
}

.more-text {
  color: gray;
}

button {
  margin-bottom: 2px;
  margin-top: 2px;
}

.text {
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.user_message {
  background-color: lightblue;
  color: black;
  font-weight: 200;
}

p.chart {
  display: block;
  text-align: center;
  font-size: 50px;
}